div.section-hero-container{
  padding: 0;
  margin: 0;
  background-color: var(--accent-color);
}

.section-hero.block .right-container{
  padding: 30px;
}

.section-hero.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

/* define bright and dark text colors: */
.section-hero.block,
.section-hero.block a,
.section-hero.block .icon{
  fill: #fff;
  color: #fff;
}

.section-hero.block.dark-text,
.section-hero.block.dark-text a,
.section-hero.block.dark-text .icon {
  color: #121212;
  fill: #121212;
}


.section-hero.block .left-container .image-container{
  overflow: hidden;
}

.section-hero.block .left-container .image-container img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: 0.7s ease-in-out;
}

.section-hero.block .left-container .image-container img:hover{
  transform: scale(1.1);
}

.section-hero.block .left-container .article-container h3.article{
  font-size: 32px;
}

.section-hero.block .left-container .article-container .author *{
  font-size: 13px;
}

.section-hero.block .left-container .article-container{
  margin-left: 20px;
  margin-bottom: 30px;
}

.section-hero.block .right-container h1.section-name {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 17px;
  margin-bottom: 24px;
}

.section-hero.block .right-container p.title {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.section-hero.block .right-container p.description {
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
}

.section-hero.block .right-container .social-media-buttons {
  text-align: center;
  margin-top: 32px;
}

.section-hero.block .right-container .social-media-buttons .icon{
  width: 24px;
  height: 24px;
  margin: 0 8px;
}


@media screen and (min-width:900px) {
  .section-hero.block{
    flex-direction: row;
    justify-content: flex-start;
  }

  div.section-hero-container{
    padding: 0;
  }
}

@media screen and (min-width:1200px) {
  .section-hero.block{
    display: grid;
    grid-template-columns: 65.66% 34.34%;
    justify-content: center;
    align-items: flex-start;
  }

  .section-hero .right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
  }

  .section-hero.block .right-container h1.section-name {
    font-size: 56px;
    letter-spacing: 17px;
    line-height: 64px;
  }

  .section-hero.block .left-container {
    display: flex;
    flex-direction: column;
  }

  .section-hero.block .left-container .image-container {
    height: 75%;
  }


}
