.columns > div {
  display: flex;
  flex-direction: column;

  --current-link-color: var(--link-color-default-content);
}

.columns a {
  font-weight: bold;
}

.columns img {
  width: 100%;
}

.columns.small-image img {
  height: 15rem;
  width: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

div.column-collections-parent {
  max-width: 100%;
  margin: auto;
}

.columns > div > div {
  order: 1;
}

.columns.border > div > div {
  border: 1px solid #dcdcde;
  padding: .6em 1.5em;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h2.columns-img-header {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--text-color-on-black-background);
  font-size: 2rem;
  font-weight: 350;
  line-height: 1;
}

.columns.collections h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

div.columns-wrapper.old-magazine-header-wrapper {
  max-width: 80vw;
}

.columns.old-magazine-header.block .header-content{
  animation: slide-in-from-right 1s ease-out forwards;
  transform:translateX(-300%);
  opacity: 0;
}


@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.columns.old-magazine-header.block .columns-img-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 360px;
  height:400px;
  flex: 0 0 30%;
  animation: slide-in-from-left 1s ease-out forwards;
  transform:translateX(-300%);
  opacity: 0;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
  }

  100% {
    transform:translateX(0);
    opacity: 1;
  }
}

.columns.old-magazine-header.block p.quote {
  font-weight: 350;
  font-style: italic;
  margin-bottom: 4px;
  font-size: 1.8em;
  line-height: 1.9em;
  margin-top: 0;
}

.columns.old-magazine-header.block p.quote-signature {
  text-align: center;
  font-size: 1.2em;
}

.columns.old-magazine-header.block .magazine-issue {
  color: #ee3124;
}

.columns.old-magazine-header.block .magazine-title {
  letter-spacing: 17px;
  font-size: 56px;
  line-height: 64px;
  margin-top: 0;
}

.columns.old-magazine-header.block .magazine-desc {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 0;
}


.columns.old-magazine-header.block .old-magazine-social-media-buttons {
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.columns.old-magazine-header.block .old-magazine-social-media-buttons svg {
  fill: var(--link-color);
  transition: all 0.3s ease;
}

.columns.old-magazine-header.block .old-magazine-social-media-buttons a:hover svg {
  fill: white;
  background-color: var(--link-color);
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.align-top > div {
    align-items: start;
  }

  /* stylelint-disable-next-line */
  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
