.columns > div {
  display: flex;
  flex-direction: column;

  --current-link-color: var(--link-color-default-content);
}

.columns a {
  font-weight: bold;
}

.columns img {
  width: 100%;
}

div.column-collections-parent {
  max-width: 100%;
  margin: auto;
}

.columns > div > div {
  order: 1;
}

.columns.border > div > div {
  border: 1px solid #dcdcde;
  padding: .6em 1.5em;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h2.columns-img-header {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--text-color-on-black-background);
  font-size: 2rem;
  font-weight: 350;
  line-height: 1;
}

.columns.collections h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.columns-container:first-child .default-content-wrapper h1 {
  letter-spacing: 15px;
  font-weight: 450;
  line-height: 1;
  font-size: 2.5rem;
  text-align: center;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
