.card.author .card-image {
    border-bottom: 0;
}
  
.card.author .card-image img {
    aspect-ratio: 1/1;
}

.card.author h3 a  {
    color: #bd2020;
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 40px;
} 

.card.author .author-links a {
    color: #d33;
    font-weight: 600;
    font-size: 16px;
}
  
.card .card-title a:hover {
    color: var(--link-hover-color);
}

.card.author .author-links .icon {
    fill: #d33;
}
  
.card.author .other-links {
    margin-top: 0;
}

.card.author .social-links {
    display: flex;
    gap: 1rem;
}