header {
  height: var(--nav-height);
}

/* Below 992px */
header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
  cursor: pointer;
}

header.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 6px solid var(--accent-color);
  font-family: var(--body-font-family);
  background-color: var(--background-color);
}

header .header.block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .brand {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-left: 15px;
  width: 20vw;
}

header nav .brand .logo {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  height: 100%;
}

header nav .icon.icon-brand {
  display: inline-block;
  height: 40px;
  width: auto;
}

header nav a.hamburger-toggle {
  display: flex;
  align-items: center;
  border-left: 1px solid #ccc;
  padding: 0 15px;
  text-decoration: none;
  color: #333;
  height: 100%;
  transition: color 0.3s;
}

header nav a.hamburger-toggle:hover {
  color: #000;
}

header nav .icon.icon-hamburger {
  display: inline-block;
  color: #666;
}

header nav .icon svg {
  fill: currentcolor; /* This inherits the color from the parent */
}

#main-nav-sections .section svg {
  stroke: var(--accent-color);
}

#main-nav-sections .section > a:hover {
  color: var(--accent-color);
}

header nav .sections {
  display: none;
  position: absolute;
  padding: 16px;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 5;
}

header nav .tools {
  display: none;
  position: absolute;
  top: 225px;
  left: 0;
  z-index: 5;
}

header nav .search {
  display: none;
  position: absolute;
  top: 260px;
  width: 100%;
  z-index: 5;
}

header nav .search-label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--label-text-color);
  padding-left: 20px;
}

header nav .search .search-container {
  display: none;
  position: relative;
  background-color: var(--background-color);
  padding: 4px;
}

header nav .search-wrapper {
  padding: 8px;
  box-sizing: border-box;
  background-color: #606163;
}

header nav .search-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

header nav .search input {
  width: 100%;
}

header nav .tools ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: flex-end;
}

header nav .tools ul li {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

header nav .sections .sections-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 200ms ease-out;
  font-size: var(--nav-font-size);
}

header nav .sections .sections-list li {
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
}

header nav .sections .icon-arrow-down {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 30px;
}

header nav .search .search-button {
  height: 59px;
  padding: 0 10px;
  color: #a7a8a9;
  border: none;
  border-radius: 0;
  background-color: #ebebea;
  box-shadow: none;
  font-size: 16px;
  text-overflow: clip;
  white-space: unset;
}

header nav[aria-expanded='true'] > .sections {
  display: block;
  height: 200px;
}

header nav[aria-expanded='true'] > .tools {
  display: block;
}

header nav[aria-expanded='true'] > .search {
  display: block;
}

header nav .search-container[aria-expanded='true'] {
  display: block;
}

header nav .hamburger-close {
  display: none;
}

header nav .tools .hamburger-close {
  padding: 0 15px;
}

header nav .tools .hamburger-close img {
  width: 14px;
  height: 14px;
}

/* At and above 992px */
@media (min-width: 992px) {
  header nav .block {
    justify-content: space-between;
  }

  header nav a.search-toggle {
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #333;
    height: 100%;
    transition: color 0.3s;
  }

  header nav a.hamburger-toggle,
  header nav a.hamburger-close {
    display: none;
  }

  header nav .tools ul li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 0 8px;
  }

  header nav .tools ul li a:any-link {
    color: #888b8d;
    font-size: 1.2rem;
  }

  header nav .tools ul li a:hover {
    color: var(--link-hover-color);
  }

  header nav .tools,
  header nav .sections {
    position: static;
    display: flex;
    background-color: transparent;
    align-items: center;
    margin: 0 12px 0 24px;
    width: 25vw;
  }

  header nav .search {
    display: block;
    position: relative;
    width: 50px;
    top: 0;
    right: 10px;
  }

  header nav .sections {
    display: grid;
    padding: 0;
    width: 50vw;
  }

  header nav .sections .sections-list {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0 auto;
  }

  header nav .sections .sections-list li {
    padding: 10px;
  }

  header nav .sections .icon-arrow-down {
    position:initial;
    padding-left: 4px;
  }

  header nav .search .search-container {
    position:fixed;
    top: 55px;
    right: 0;
    width: 200px;
  }

  header nav .search .search-button {
    height: 40px;
    position: absolute;
    color: #bbb;
    border-radius: 0;
    background-color: transparent;
    font-size: 18px;
    z-index: 99;
  }

  header nav .search-label > .title {
    display: none;
  }

  header .nav-fragment {
    padding: 20px;
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: var(--background-color);
    max-width: 1174px;
    box-shadow: 0 15px 30px rgba(0 0 0 / 30%);
  }

  header .nav-fragment.fitness {
    --category-text-color: var(--color-fitness);

    border-top: 6px solid var(--category-text-color);
  }

  header .nav-fragment.focus {
    --category-text-color: var(--color-focus);

    border-top: 6px solid var(--category-text-color);
  }

  header .nav-fragment.fuel {
    --category-text-color: var(--color-fuel);

    border-top: 6px solid var(--category-text-color);
  }

  header .nav-fragment.recover {
    --category-text-color: var(--color-recover);

    border-top: 6px solid var(--category-text-color);
  }

  header .nav-fragment.magazine {
    --category-text-color: var(--color-magazine);

    border-top: 6px solid var(--category-text-color);
    background-color: var(--background-color);
  }

  header .nav-fragment[aria-expanded='false'] {
    display: none;
  }

  header .nav-fragment[aria-expanded='true'],
  header .nav-fragment.expand {
    display: grid;
  }

  header .nav-fragment.magazine[aria-expanded='true'],
  header .nav-fragment.magazine.expand {
    display: unset;
  }

  header .nav-fragment .leftcolumn {
    padding-left: 60px;
  }

  header .nav-fragment h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--category-text-color);
  }
}
