.carousel {
  --position: 0;

  scroll-margin: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  display: flex;
  position: relative;
}

.carousel .slide {
  scroll-snap-align: start;
  display: block;
  flex: 0 0 100%;
  transition: all 0.25s ease-in-out;
  transform: translateX( calc(-1 * var(--position) * 100%));

  /* testing: */
  height: 250px;
  background-color: rgb(calc(var(--position) * 80) 100 100);
}

.carousel button.prev{
  position: absolute;
  top: 50%;
  left: 0;
}

.carousel button.next{
  position: absolute;
  top: 50%;
  right: 0;
}
