.carousel-wrapper {
  position: relative;
}

.carousel {
  scroll-margin: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel .slide {
  scroll-snap-align: start;
  display: block;
  flex: 0 0 100%;
  transition: all 0.25s ease-in-out;
}

.carousel > button {
  position: absolute;
  top: 40%;
  background: unset;
}

.carousel > button.prev{
  left: -5em;
}

.carousel button.next{
  right: -5em;
}

