.newsletter .hero img {
    width: 100%;
  }
  
  .newsletter main .hero {
    aspect-ratio: auto 1600 / 1067;
  }
  
  .newsletter main .hero h1 {
    position: absolute;
    top: 25vh;
    font-size: 20px;
    color: var(--background-color);
  }
  
  .newsletter .section.cards-container {
    text-align: center;
  }

  @media (min-width: 768px) {
    .newsletter main .section {
        padding: 0;
      }
    
      .newsletter .section > div {
        max-width: 100%;
        margin: auto;
      }
    
      .newsletter main .hero h1 {
        position: absolute;
        top: 30vh;
        margin-left: 5vw;
        font-size: 40px;
        color: var(--background-color);
      }
  }

  @media (min-width: 900px) {
    .newsletter main .section {
        padding: 0;
      }
    
      .newsletter .section > div {
        max-width: 100%;
        margin: auto;
      }
    
      .newsletter main .hero h1 {
        position: absolute;
        top: 45vh;
        margin-left: 5vw;
        font-size: 40px;
        color: var(--background-color);
      }
  }

  @media (min-width: 1200px) {
    .newsletter main .section {
        padding: 0;
      }
    
      .newsletter .section > div {
        max-width: 100%;
        margin: auto;
      }
    
      .newsletter main .hero h1 {
        position: absolute;
        top: 60vh;
        margin-left: 5vw;
        font-size: 40px;
        color: var(--background-color);
      }
  }
