.section .card-grid-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: unset;
}

.card-grid > a.bi {
  background-color: unset;
}

@media screen and (min-width: 992px) {
  .block.card-grid {
    display: grid;
    grid-template-columns: 8fr 4fr; /* Two columns */
    grid-template-rows: auto auto; /* Two rows with auto height */
    grid-gap: 20px; /* Gap between grid items */
  }

  .block.card-grid > a:first-child {
    grid-column: 1; /* Spans the first column */
    grid-row: span 2; /* Spans 2 rows */
  }

  .block.card-grid > a:not(:first-child) {
    grid-column: 2; /* Second column */
  }

  .block.card-grid.right {
    grid-template-columns: 4fr 8fr;
  }

  .block.card-grid.right > a:first-child {
    grid-column: 2; /* Spans the first column */
    grid-row: span 2; /* Spans 2 rows */
  }

  .block.card-grid.right > a:nth-child(2){
    grid-column: 1; /* Second column */
    grid-row: 1;
  }
  
  .block.card-grid.right > a:nth-child(3) {
    grid-column: 1; /* Second column */
    grid-row: 2;
  }
}
