.section .card-grid-wrapper {
  --grid-row-count: 1;
  --grid-col-count: 2;
  --grid-col-gap: 30px;
  --grid-row-gap: 30px;
  
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: unset;
}

.section .card-grid-wrapper ~ .card-grid-wrapper { 
  margin-top: var(--grid-row-gap); 
}

.block.card-grid {
  position: relative;
  display: grid;
}

.block.card-grid::before {
  /* gives the grid a min-height relative to the width using padding-bottom hack */
  content: "";
  grid-column: 1;
  grid-row: 1;
  padding-bottom: calc(100% * var(--grid-col-count) + var(--grid-row-gap) * (var(--grid-col-count) - 1));
}

.block.card-grid>ul {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: var(--grid-row-gap);
  column-gap: var(--grid-col-gap);
}

.block.card-grid>ul>li {
  --grid-row-span: 1;

  grid-row: span var(--grid-row-span);
  position: relative;
  display: flex;
  flex-direction: column;
}

.block.card-grid>ul>li>* {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.block.card-grid>ul>li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block.card-grid>ul>li>div {
  position: relative;
}

.block.card-grid>ul>li h3 {
  font-family: var(--ff-volvo-novum-medium);
  font-size: 2.4rem;
  margin: 0 0 0.3333em;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .block.card-grid::before {
      padding-bottom: 50%;
  }

  .block.card-grid>ul {
      grid-template-rows: repeat(var(--grid-row-count), 1fr);
      grid-template-columns: repeat(var(--grid-col-count), 1fr);
      grid-auto-flow: column;
  }

  .block.card-grid.left>ul {
      grid-template-columns: 8fr 4fr;
  }

  .block.card-grid.right>ul {
      grid-template-columns: 4fr 8fr;
  }
}
