.magazine-list .current-issue,
.other-issues {
  margin-bottom: 10px;
}

.magazine-list .current-issue {
  display: flex;
  justify-content: center;
  line-height: 0;
}

.magazine-list .other-issues {
  display: block;
  line-height: 0;
}

.magazine-list .issue {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  aspect-ratio: 258/377;
  width: 100%;
}

.magazine-list .issue-image > img {
  width: 100%;
  height: auto;
}

.magazine-list .issue-title {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 76px;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: #fff;
  background-color: rgba(45 45 45 / 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: all 1s ease;
  opacity: 0;
}

.magazine-list .issue:hover .issue-title {
  transition: all 1s ease;
  transform: translateY(0%);
  opacity: 1;
}

.magazine-list .other-issues .issue {
  margin-bottom: 10px;
}

/* Override section padding */
main .section.magazine-list-container {
  padding: 0;
}

@media (min-width: 600px) {
  main .section .magazine-list-wrapper {
    max-width: unset;
  }

  .magazine-list .current-issue .issue {
    width: 33.333%;
  }

  .magazine-list .other-issues {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .magazine-list .other-issues .issue {
    margin-bottom: 0;
  }
}

