/* shared mobile and desktop */

.collections-explorer .explore .btn {
    display: inline-block;
    margin: 0;
    background-color: var(--footer-background-color);
    font-weight: lighter;
    color: var(--text-color-on-black-background);
    min-width: 100px;
    font-size: 14px;
    padding: 0 32px;
    text-transform: uppercase;
}

.collections-explorer .explore span.msg {
    margin-left: 10px;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* mobile view */
.collections-explorer .mobile-only h2.img-header {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: var(--text-color-on-black-background);
    font-size: 1rem;
    font-weight: 350;
    line-height: 1;
}

.collections-explorer .mobile-only img {
    width: 100%;
}

.collections-explorer .desktop-only {
    display: none;
}

/* tablet and desktop */
@media screen and (min-width: 600px) {
    .collections-explorer .mobile-only {
        display: none;
    }
    .collections-explorer .explore span.msg {
        font-size: 21px;
    }

    .collections-explorer .explore .btn {
        height: 60px;
        line-height: 60px;
        min-width: 200px;
        font-size: 24px;
    }

    div.collections-explorer-wrapper {
        margin: 0;
        padding: 0;
        min-width: 100%;
    }

    .collections-explorer .desktop-only {
        display: block;
        position: relative;
        width: 100%;
    }

    .collections-explorer .desktop-only .pictures picture img {
        position: absolute;
        transition: opacity 0.5s ease-out;
        opacity: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .collections-explorer .desktop-only .pictures picture.active img{
        display: unset;
        opacity: 1;
        z-index: 2;
    }


    .collections-explorer  ul.links {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: rgb(0 0 0 / 50%);
        list-style: none;
        text-align: center;
        padding: 20px 0;
        box-sizing: border-box;
        font-size: var(--body-font-size-text);
        font-weight: 400;
        letter-spacing: 4px;
        line-height: 26px;
        text-transform: uppercase;
    }

    .collections-explorer  ul.links a {
        display: block;
        margin: 0;
        color: var(--text-color-on-black-background);
    }

    .collections-explorer  ul.links a:hover {
        background: rgb(51 51 51 / 50%);
    }
}

/* desktop */
@media screen and (min-width: 900px) {
    .collections-explorer .desktop-only .links {
        margin-left: 70%;
        width: 30%;
    }
}
