.article-hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.article-hero .hero-title {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.article-hero img {
    filter: brightness(70%);
    width: 100%;
}

.article-hero .hero-collections {
    display: flex;
    gap: 30px;
}

div.hero-overlay-smaller-screen > a::before,
.article-hero div.hero-overlay > a::before{
  content: "By: ";
}

.article-hero div.hero-overlay > a{
  color: #a0a0a0
}

.article-hero div.hero-collections > a {
  color: var(--accent-color);
}

div.hero-overlay > a:hover {
  color: var(--link-color-default-content);
}

.article-hero .hero-overlay {
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 66.6%;
    border-top: 6px solid var(--accent-color);
    background-color: rgb(255 255 255 / 80%);
    padding: 2em;
}

.section.article-hero-container {
    max-width: unset;
    padding: unset;
}

.section>div.article-hero-wrapper {
    max-width: unset;
}

@media screen and (max-width: 599px) {
    .article-hero .hero-overlay {
        display: none;
    }
}
