footer {
  padding: 2rem;
  background-color: var(--footer-background-color);
  font-size: var(--footer-font-size-copyright);
  color: var(--text-color-on-black-background);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer-slogan {
  font-size: var(--footer-font-size-slogan);
}

footer li {
  display: inline-block;
  margin-right: 1rem;
}

footer li a:any-link {
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
