.search-page-heading.section h1 {
    margin-left: 5rem;
}

.search-results-wrapper .article-load-more-container {
    margin: auto;
    text-align: center;
}

main .results-loading-spinner {
    text-align: center;
    position: relative;
    top: 10vh;
    margin: auto;
    pointer-events: none;
    width: 3.5em;
    height: 3.5em;
    border: 0.5em solid #eee;
    border-top-color: #888888;
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
    transition: opacity 1s, visibility 1s;
  }
  
  @keyframes loadingspin {
    100% {
      transform: rotate(360deg)
    }
  }

  main .loader-hidden {
    opacity: 0;
    visibility: hidden;
  }