.search-page-heading.section h1 {
    margin-left: 5rem;
}

.search-results-wrapper .article-load-more-container {
    margin: auto;
    text-align: center;
}

.block.search-results .results-loading-spinner {
    text-align: center;
    position: relative;
    bottom: 6vh;
    margin: auto;
    pointer-events: none;
    width: 3.5em;
    height: 3.5em;
    border: 0.5em solid #eee;
    border-top-color: #888888;
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
    transition: opacity 1s, visibility 1s;
  }
  
  @keyframes loadingspin {
    100% {
      transform: rotate(360deg)
    }
  }

  .block.search-results .no-results {
    position: relative;
    text-align: center;
    margin: auto;
  }

  .block.search-results .no-results > p {
    font-size: 2rem;
  }