body.article main .default-content-wrapper {
    clear: both;

    --current-link-color: var(--link-color-default-content);
}

body.article main .default-content-wrapper a {
    font-weight: bold;
}

body.article main .default-content-wrapper .block a {
    /* keep links in block normal */
    font-weight: normal;
}

body.article main .article-social-media-buttons {
    display: flex;
    justify-content: center;
    margin: 1em;
    gap: 1em;
}

body.article main .article-social-media-buttons svg {
    fill: var(--link-color-default-content);
    transition: all 0.3s ease;
}

body.article main .article-social-media-buttons a:hover svg {
    fill: white;
    background-color: var(--link-color-default-content);
}

body.article main .article-carousel-wrapper {
    margin: 4rem 0;

    --current-link-color: var(--link-color);
}

body.article .article-end-line {
  border: 1px solid var(--faint-gray);
  margin: 0 0 54px;
}

@media (min-width: 900px) {
    body.article main .article-carousel-wrapper {
        display: flex;
    }
}


body.article main .article-carousel-wrapper .article-carousel-title {
    color: var(--accent-text-color);
    text-transform: uppercase;
    flex: 0 0 20%;
    margin-top: 3rem;
}


body.article main .article-carousel-wrapper .article-carousel {
    width: 80%;
}

body.article main .default-content-wrapper .button {
  min-width: 200px;
}
