@font-face {
  font-family: "din-2014";
  src: url("../fonts/din-2014-italic-400.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "din-2014";
  src: url("../fonts/din-2014-400.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "din-2014";
  src: url("../fonts/din-2014-600.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "din-2014";
  src: url("../fonts/din-2014-italic-600.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "din-2014";
  src: url("../fonts/din-2014-italic-700.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "din-2014";
  src: url("../fonts/din-2014-700.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "din-2014";
  src: url("../fonts/din-2014-800.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: "din-2014";
  src: url("../fonts/din-2014-800.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
}

/* open sans */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-700.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-italic-700.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-italic-400.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-400.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

