/* add global styles that can be loaded post LCP here */

main .youtube-video {
  max-width: unset;
  width: 100%;
  height: auto;
  aspect-ratio: 9/5;
  border: none;
}

main .spotify-embed {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  border: none;
}

main .library-metadata-wrapper {
  display: none;
}


main .section.h2-color-focus h2 {
  color: var(--color-focus-text);
}

main .section.h2-color-fitness h2 {
  color: var(--color-fitness-text);
}

main .section.h2-color-fuel h2 {
  color: var(--color-fuel-text);
}

main .section.h2-color-recover h2 {
  color: var(--color-recover-text);
}
